.form-item-keyword,
.form-item-types {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  margin-right: 10px !important;
}

.form-item-keyword input {
  height: 20px;
  padding: 7.5px;
}


.form-item-types,
.form-item-types .chosen-container.chosen-container-single {
  margin-top: 5px;
  width: 280px !important;
}

.form-item-types .chosen-container-single .chosen-choices {
  box-sizing: border-box;
  height: 40px;
  padding: 5px;
  width: 100%;
}


#edit-google-places-search-container .form-wrapper {
  display: inline-block;
}

#edit-google-places-search-container .form-wrapper .form-radios > .form-item {
  display: inline-block;
  float: left;
  margin-right: 7.5px;
}

#edit-google-places-address-container {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
}

#edit-google-places-address-container .form-item.js-form-type-textfield {
  display: inline-block;
  float: left;
  margin-right: 10px;
}